@charset "utf-8";

*{
    margin: 0;
}

html, body{
    height: 100%;
    background-color: skyblue;
}


.menyit{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    justify-content: space-between;
    
    
}

.itbody{
    background-color: skyblue;
    height: 270px;
    width: 100%;
}

.menyleft{
    display: flex;
    width: 40%;
    height: 70px;
    list-style: none;
/*    background-color:aqua;*/
    justify-content: space-around;
    padding: 0;
  
    
    
}



.menyit ul li {
    display: flex;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    
}

.menyit ul li a{
    display: flex;
    font-size:25px;
    font-family: serif;
    align-items: center;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    
    
}

.menyright{
    display: flex;
    width: 25%;
    height: 70px;
    list-style: none;
    justify-content: space-between;
/*    background-color: red;*/
    padding: 0;
    
}

.menyright li{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    list-style: none;
}

.menyright li a{
    display: flex;
    width: 100%;
    font-size: 25px;
    font-family: serif;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
}